<label>{{placeholder}}</label>
<input type="text" class="input-value {{focus}} {{key}}"  readonly="true" placeholder={{placeholder}} value={{value}} {{action 'trueFocusedInput' model focus}}>
<button {{action 'resetValue' model}}>
	<span class="cross"></span>
</button>
