  <nav class="nav">
    <ul>
      {{#if left}}
      	<li class="left">
        	{{#link-to left-route class='arrow-thin left'}}{{left}}{{/link-to}}
      	</li>
       {{/if}}
       <li class="current">{{current-page}}</li>
      {{#if right}}
      	<li class="right">
        	{{#link-to right-route class='arrow-thin right'}}{{right}}{{/link-to}}
      	</li>
       {{/if}}
      {{#if top}}
      	<li class="top">
        	{{#link-to top-route class='arrow-thin top'}}{{top}}{{/link-to}}
      	</li>
       {{/if}}
      {{#if bottom}}
      	<li class="bottom">
        	{{#link-to bottom-route class='arrow-thin bottom'}}{{bottom}}{{/link-to}}
      	</li>
       {{/if}}
    </ul>
  </nav>