<div class="percentil">
	{{#unless (condition percentilMin "&&" percentilMax)}}
	{{#if percentilMin}}
	<span class="chevron right"></span>  
	{{/if}}
	{{#if percentilMax}}
	<span class="chevron left"></span>  
	{{/if}}
	{{/unless}}
	{{percentilMin}}
	{{#if (condition percentilMin "&&" percentilMax)}}
	<span>-</span>
	{{/if}}
	{{percentilMax}}
</div>