$dark: #22757F;
$skin: #FFBB99;
$blueSky: #73F0FF;
$greySky: #5CC0CC;
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  @include font-size(14);
  font-family: 'Cabin', sans-serif;
  background: #fff;
}

html,
body {
  height: 100%;
}

.valign {
  @include vertical-align();
}

header,
.result {
  padding: 0 20px;
  .h1,
  p {
    @include font-size(14);
    display: inline-block;
    padding: 10px 0;
    margin-bottom: 4px;
    text-align: center;
  }
}

.result {
  position: fixed;
  bottom: 0px;
  width: 100%;
  p {
    @include font-size(18);
    color: $greySky;
    border-bottom: none;
    border-top: 3px solid $greySky;
  }
}

.h2 {
  @include font-size(14);
  text-decoration: none;
  padding-bottom: 4px;
  color: $skin;
}

.h1 {
  border-bottom: 3px solid $greySky;
  color: $greySky;
}

.container {
  text-align: center;
}

.wrapper-content {
  .content {
    padding-bottom: 50px;
  }
}

.liquid-child,
.liquid-container {
  overflow: visible;
}

.wrap-page {
  height: 75vh;
  >.page {
    @include vertical-align();
  }
}

.legend {
  text-align: left;
  color: $skin;
  padding-left: 5px;
  position: fixed;
  bottom: 5px;
}

@media screen and (min-width: 480px) {
  .wrap-page {
    max-width: 400px;
    margin: 0 auto;
  }
}

.block {
  @include inline-block(middle);
  text-align: left;
}

.w-20 {
  width: 20%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

.cross {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  display: block;
  border: 1px solid $skin;
  border-radius: 0px 3px 3px 0px;
  background: #fff;
  transition: border-color 0.1s ease-out;
  &:before,
  &:after {
    position: absolute;
    left: 12px;
    top: 5px;
    content: ' ';
    height: 18px;
    width: 2px;
    background-color: $skin;
    transition: background-color 0.1s ease-in;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  .wrap-date & {
    position: absolute;
    right: -1px;
    border-radius: 3px 0px 3px 0px;
    bottom: -1px;
  }
}

input.true + .cross,
input.true + button .cross {
  border: 1px solid $greySky;
  transition: border-color 0.1s ease-out;
  &:after,
  &:before {
    transition: background-color 0.1s ease-in;
    background-color: $greySky;
  }
}

button {
  background-repeat: no-repeat;
  background-size: 15px 15px;
  border: none;
  background-color: #fff;
  margin-left: -2px;
  width: 30px;
  height: 32px;
  padding: 0;
}

.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  p {
    @include font-size(10);
    color: $dark;
    padding: 4px 0;
  }
  a {
    color: $greySky;
    text-decoration: none;
  }
}
