@font-face {
    font-family: 'Cabin';
    src: url('fonts/cabin-medium-webfont.eot');
    src: url('fonts/cabin-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/cabin-medium-webfont.woff2') format('woff2'), url('fonts/cabin-medium-webfont.woff') format('woff'), url('fonts/cabin-medium-webfont.ttf') format('truetype'), url('fonts/cabin-medium-webfont.svg#cabincabin_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/inconsolata-regular-webfont.eot');
    src: url('fonts/inconsolata-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/inconsolata-regular-webfont.woff2') format('woff2'), url('fonts/inconsolata-regular-webfont.woff') format('woff'), url('fonts/inconsolata-regular-webfont.ttf') format('truetype'), url('fonts/inconsolata-regular-webfont.svg#inconsolataregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
