.list-input {
  padding: 0 12px;
  li {
    font-size: 0;
    margin: 2px 0;
  }
  input,
  button {
    @include inline-block(middle);
    @include font-size(16);
  }
  .input-value {
    color: $greySky;
    font-family: 'Inconsolata';
    width: 70%;
    border: 1px solid $skin;
    border-radius: 3px;
    padding: 6px;
    margin: 8px 0;
    height: 30px;
    &.true {
      border-color: $greySky;
    }
  }
  label {
    @include font-size(12);
    @include inline-block(middle);
    text-align: center;
    color: $skin;
    font-family: 'Inconsolata';
    width: 10%;
  }
}

.wrap-date {
  input {
    display: none;
  }
  .dw-li {
    @include font-size(12);
    color: $skin;
  }
  .dw-li.dw-v.dw-sel {
    @include font-size(17);
    color: $greySky;
    font-weight: bold;
  }
  .mbsc-mobiscroll {
    position: relative;
    margin: 4px 12px 4px 12px;
    border: 1px solid $skin;
    border-radius: 3px;
  }
  .btn-reset {
    @include font-size(16);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px 8px;
    color: $dark;
    font-weight: bolder;
  }
}

.wrap-date {
  padding: 4px;
  .input-date + .mbsc-mobiscroll {
    font-family: 'Inconsolata';
  }
}
