@mixin prefix($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

@mixin inline-block($valign) {
    @if $valign !="" {
        vertical-align: $valign;
    }
    display: inline-block;
    *display: inline;
    zoom: 1;
}

@mixin vertical-align($value:null) {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin opacity( $value) {
    filter: alpha(opactiy=#{$value * 100});
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value * 100})";
    opacity: $value;
}

@mixin font-family( $family, $size, $lineheight: null, $weight: null, $style: null) {
    font-family: $family;
    font-size: $size;
    @if $lineheight !=null {
        line-height: $lineheight;
    }
    @if $weight !=null {
        font-weight: $weight;
    }
    @if $style !=null {
        font-style: $style;
    }
}

@mixin font-size($font-size, $line-height:null, $fluid:true) {
    $base-font-size: 10 !global !default;
    font-size: $font-size +px;
    @if $fluid {
        font-size: ($font-size / $base-font-size)*1rem;
    }
    @if $line-height !=null {
        line-height: $line-height / $font-size;
    }
}

@mixin bg-image($fileName, $width, $height) {
    background-image: url($fileName + '.png');
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        & {
            background-image: url($fileName + '@2x.png');
            -webkit-background-size: $width $height;
        }
    }
}
