.calculator {
    font-size: 0;
    padding: 4px 12px 6px 12px;
    li {
        @include inline-block(top);
        width: 20%;
    }
    button {
        @include font-size(20);
        border: 1px solid $greySky;
        color: $greySky;
        padding: 4px 12px;
        width: 90%;
        border-radius: 2px;
        margin: 6px 0;
        font-family: 'Inconsolata';
        background: #fff;
        transition: all 0.1s ease-out;
        &#clicked {
            transition: all 0.1s ease-in;
            color: $blueSky;
            border-color: $blueSky;
        }
    }
}
