.wrap-logo {
    text-align: left;
}

.wrap-nav-index {
    height: calc(100vh - 58px);
}

.nav-index {
    @include vertical-align();
    text-align: center;
    ul {
        li {
            padding: 20px 0;
        }
    }
    a {
        @include font-size(20);
        color: $dark;
        text-decoration: none;
    }
}

.arrow-thin {
    &:before,
    &:after {
        position: absolute;
        width: 18px;
        content: '';
        height: 2px;
        background: $dark;
        margin-left: -11px;
    }
    &:before {
        left: calc(50% - 3px);
        border-radius: 40px 0px 0px 0;
    }
    &:after {
        left: calc(50% + 8px);
        border-radius: 0px 40px 0px 0px;
    }
    &.bottom:before,
    &.right:after {
        border-radius: 0px 0px 0px 40px;
    }
    &.bottom:after,
    &.left:after {
        border-radius: 0px 0px 40px 0px;
    }
    &.left:before {
        border-radius: 0px 40px 0px 0px;
    }
}

header {
    margin: 42px 0;
}

.nav {
    position: relative;
    a {
        color: $dark;
        position: relative;
        text-decoration: none;
    }
    ul {
        font-size: 0;
    }
    li {
        position: relative;
        width: 100%;
        top: 0;
        a {
            @include font-size(12);
            padding: 10px;
        }
        &.current {
            @include font-size(14);
            @include inline-block(middle);
            color: $greySky;
            width: 26%;
        }
        &.top {
            position: absolute;
            top: -38px;
        }
        &.bottom {
            top: 22px;
            width: 100%;
        }
        &.right,
        &.left {
            @include inline-block(middle);
            position: relative;
            width: 37%;
            text-align: left;
        }
        &.right {
            left: 20px;
            a {
                padding-left: 6px;
            }
        }
        &.left {
            left: -8px;
            text-align: right;
            a {
                padding-right: 18px;
            }
        }
    }
    .arrow-thin.top:before,
    .arrow-thin.right:after,
    .arrow-thin.bottom:before,
    .arrow-thin.left:before,
    .arrow-thin.bottom:after {
        transform: rotate(-46deg);
    }
    .arrow-thin.top:after,
    .arrow-thin.right:before,
    .arrow-thin.bottom:before,
    .arrow-thin.left:after {
        transform: rotate(46deg);
    }
    .arrow-thin.top:before,
    .arrow-thin.top:after {
        bottom: -2px;
    }
    .arrow-thin.right:before {
        top: 10px;
        left: 0;
    }
    .arrow-thin.right:after {
        top: 22px;
        left: 0;
    }
    .arrow-thin.left:before {
        right: 0px;
        left: inherit;
        top: 10px;
    }
    .arrow-thin.left:after {
        top: 22px;
        right: 0px;
        left: inherit;
    }
    .arrow-thin.bottom:before {
        top: 0;
    }
    .arrow-thin.bottom:after {
        top: 0;
    }
}
