.weight {
    .wrap-button {
        float: right;
        margin: 0 16px;
        position: relative;
        z-index: 1;
    }
    .percentil {
        @include font-size(14);
        color: $dark;
    }
    .percentil-result {
        position: absolute;
        right: 56px;
        top: 11px;
    }
    .chevron:before {
        border-style: solid;
        border-width: 2px 2px 0 0;
        content: '';
        display: inline-block;
        height: 8px;
        position: relative;
        top: 4px;
        vertical-align: top;
        width: 8px;
        border-color: $dark;
        left: 0;
    }
    .chevron.left:before {
        transform: rotate(-135deg);
    }
    .chevron.right:before {
        transform: rotate(45deg);
    }
    .list-input {
        .input-value {
            width: 60%;
        }
    }
}
