<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Perinat</title>
  <meta name="description" content="Perinat est une application web gratuite destinée aux gynécologues, sages-femmes, médecins généralistes, étudiants en médecine et toutes personnes impliquées dans le suivi de grossesse.">
  <meta name="copyright" content="©Gaudet-Chardonnet" />
  <meta name="viewport" content="width=device-width, initial-scale=1"> {{content-for "head"}}
  <link rel="stylesheet" href="assets/vendor.css">
  <link rel="stylesheet" href="assets/perinat-ember.css"> {{content-for "head-footer"}}
</head>

<body>
  {{content-for "body"}}
  <script src="assets/vendor.js"></script>
  <script src="assets/perinat-ember.js"></script>
  {{content-for "body-footer"}}
</body>

</html>
