<div class="wrap-page">
  <section class="page gestat">
    <header>
      {{nav-joystick current-page='Âge gestationnel' left='Accueil' left-route='index' right='Poids fœtal' right-route='weight' bottom='Début de grossesse' bottom-route='ddg'}}
    </header>
    {{outlet}}
    <div class="wrapper-content">
      <div class="content">
        <div class="wrap-date">
          <h2 class="h2">Date d'examen</h2>
          {{mobiscroll-date class="date exam-date" sendResult=(route-action 'sendResult')}}
        </div>
        <div class="wrap-date">
          <h2>{{#link-to 'ddg' class='h2'}}Début de grossesse{{/link-to}}</h2>
          {{mobiscroll-date class="date start-preg-date" sendResult=(route-action 'sendResult')}}
        </div>
        <footer class="result">
          <p>
            {{!-- {{result}} --}}
            {{#each model as |model|}}
            {{#if model.result}}
            {{#if (condition model.result '<' fortyThreeWeeks) }}
            {{result-weeks result=model.result}}
            {{/if}}
            {{else}}
            {{/if}}
            {{/each}}
          </p>
        </footer>
      </div>
    </div>
  </section>
</div>
