{{#app-wrapper }}
<div class="container">
	<section class="wrap-logo">
		<div class="logo">
			{{#link-to 'index'}}
			{{img-svg name='logo' width=145 height=50}}
			{{/link-to}}
		</div>
	</section>
	{{liquid-outlet}}
</div>
{{/app-wrapper}}