<div class="wrap-page">
	<section class="page ddg">
		<header>
			{{nav-joystick current-page='Début de grossesse' top='Âge gestationnel' top-route='gestat' left='Accueil' left-route='index' right= 'Poids fœtal' right-route='weight'}}
		</header>
		<div class="wrapper-content">
			<div class="content">
				<ul class="list-input">
					{{#each model as |model|}}
					<li>
						{{block-value
						key=""
						model=model
						focus=model.focus
						placeholder=model.placeholderLcc
						value=model.value
						sendResult=(route-action 'sendResult' model.value)
					}}
				</li>
				{{/each}}
			</ul>
			<ul class="calculator">
				{{#each (range 1 9) as |item|}}
				{{button-calculator value=item model=model}}
				{{/each}}
				{{button-calculator value=0 model=model}}
			</ul>
			<div class="wrap-date">
				<h2 class="h2">Date d'échographie</h2>
				{{mobiscroll-date class="date echo-date" sendResult=(route-action 'sendResult')}}
			</div>
		</div>
		<footer class="result">
			<p>
				{{result}}
			</p>
		</footer>
		<p class="legend">Robinson</p>
	</div>
</section>
</div>
