<div class="wrap-nav-index">
  <nav class="nav-index">
    <ul>
      <li>
        {{#link-to 'gestat'}}Âge gestationnel{{/link-to}}
      </li>
      <li>
        {{#link-to 'weight'}}Estimation du poids fœtal{{/link-to}}
      </li>
      <li>
        {{#link-to 'ddg'}}Date de début de grossesse{{/link-to}}
      </li>
    </ul>
  </nav>
</div>
<footer class="footer">
  <a href="mailto:contact@perinat.fr">contact@perinat.fr</a>
  <p>{{#link-to 'info'}}©Gaudet-Chardonnet{{/link-to}}</p>
</footer>
