	<div class="info-page">
		
		<p><strong>Perinat.fr</strong> est une application gratuite destinée aux gynécologues, sages-femmes, médecins généralistes, étudiants en médecine et toutes personnes impliquées dans le suivi de grossesse.</p>
		<br>
		<p>Elle permet de déterminer l'<strong>âge gestationnel</strong> en fonction de la date de début de grossesse (DDG) et remplace la traditionnelle «roulette».</p>
		<br>
		<p>C'est un outil indispensable pour le calcul de la DDG en fonction de la longueur Cranio-Caudale (LCC) déterminée à l'échographie du 1er trimestre ainsi que pour l'estimation de poids fœtal (EPF).</p>
		<br>
		<p>Les formules de calcul ont été choisies selon les recommandations du Collège Francais d'Echographie Fœtale (CFEF).</p>
		<ul>
			<li>- Robinson 1975 pour la DDG</li>
			<li>- Hadlock et al. 1985 pour l'EPF</li>
		</ul>

		<p>Les percentiles sont ceux publiés par le CFEF en 2015.</p>
		<br>
		<p>L'application ne perçoit aucun revenu de nature publicitaire ou autre. Elle ne collecte aucune information concernant ses utilisateurs.</p>
		<br>
		<p>À venir: </p>
		<ul>
			<li>
				- Doppler Ombilical en fonction du terme
			</li>
			<li>
				- Calcul en MoM du PSV-ACM
			</li>
		</ul>
		<br>
		<p>www.perinat.fr</p>
		<br>
		<p>Contact: contact@perinat.fr</p>
		<br>
		<p>Tous droits réservés © Gaudet-Chardonnet</p>
		<br>
		<p>version : 1.0.0</p><br>
		<p>Dernière mise à jour : septembre 2016</p><br>
		<p>Mots clefs: </p>
		<ul>
			<li>
				Grossesse
			</li>
			<li>
				fœtal
			</li>
			<li>
				échographie
			</li>
			<li>
				gestationnel
			</li>
			<li>
				longueur cranio-caudale
			</li>
			<li>
				Robinson
			</li>
			<li>
				Hadlock
			</li>
			<li>
				Doppler
			</li>
			<li>
				ombilical
			</li>
			<li>
				CFEF
			</li>
		</ul>
	</div>