<div class="wrap-page">
	<section class="page weight">
		<header>
			{{nav-joystick current-page='Poids foetal' right='Accueil' right-route='index' left='Âge gestationnel' left-route='gestat' bottom='Début de grossesse' bottom-route='ddg'}}
			{{!-- <h1 class="h1">EPF - Hadlock et al. 1985</h1> --}}
		</header>
		<div class="wrapper-content">
			<div class="content">
				<ul class="list-input">
					{{#each model as |model|}}
					<div class="block w-70">
						{{block-value
						model=model
						focus=model.focus
						placeholder=model.placeholder
						value=model.value
						sendResult=(route-action 'sendResult')
						key=model.key
					}}
					</div><!--
				--><div class="block w-30">
				{{percentil-finder key=model.key value=model.value model=model}}
			</div>
			{{/each}}
		</ul>
		{{liquid-outlet}}
		<div class="wrap-button">
			<button {{action 'resetAllBlockValue' model}}>
				<span class="cross"></span>
			</button>
		</div>
		<footer class="result">
			<p>
				{{#if (condition result '<' 5500 )}}
				{{result}} {{#if result}}<span>g</span>{{/if}}{{percentil-finder class='percentil-result' key='epf' value=result model=model}}
				{{/if}}
			</p>
		</footer>
		<p class="legend">Hadlock et al.</p>
	</div>
</div>
</section>
</div>